.sea {
  text-decoration: none;
  font-size: 28px;
  color: #091a42;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}
.fon-menu {
  padding-right: 20px;
  padding-left: 20px;
  background-image: url(../img/ptichka250.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
}
.menu {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
  font-family: 'Times New Roman', Times, serif;
  font-weight: normal;
  margin-left: 2%;
  /*margin-right: 2%;*/
}
.menu:hover {
  background: #ffffff;
  color: #000000;
  text-shadow: 1px 1px 2px black, 0 0 1em blue;
}
.menu:visited {
  color: #000080;
}
.menu-position {
  margin-top: 180px;
  margin-left: 6%;
  margin-right: 6%;
  background-color: #ffffff;
  border-style: double;
  border-color: #17093d;
  /*padding: 1% 1% 1% 2%;*/
}
.site-fon {
  background-image: url(../img/bcg.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-fon1 {
  background-image: url(../img/bcg1.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-fon2 {
  background-image: url(../img/bcg2.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-fon3 {
  background-image: url(../img/bcg3.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-fon4 {
  background-image: url(../img/bcg4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.site-fon5 {
  background-image: url(../img/bcg5.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-top: 30px;
  margin-bottom: 30px;
}
.podval {
  height: 60px;
  color: #ffffff;
  background-color: #17093d;
  text-align: center;
  font-weight: normal;
}
.main-table {
  background-color: rgb(255, 255, 255);
  width: 900px;
  height: 1200px;
  box-shadow: 0 0 50px 1px;

  vertical-align: bottom;
  border-radius: 0px 0px 0 0;
  -moz-border-radius: 0px;
}
.down-line {
  width: 892px;
  color: #5876a7;
}
.down-line-cell {
  height: 18px;
}
.height-menu-cell {
  height: 250px;
}
.otstup-contact {
  margin-left: 40px;
  font-size: 16px;
}
